server:
  address: ":8080"

registry:
  domain: registry.docker.local
  onpush:
    services:
      - name: "dokkery"
        image: "dokkery:latest"
        pre:
          - "echo 'docker pull {}'"
        post:
          - "echo 'docker service update {} --force'"
notify:
  slack:
#    webhook: "https://hooks.slack.com/services/foo/bar/baz"
    webhook: "https://hooks.slack.com/services/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"
    channel: "#alert"
    message:
      success:
        head: ":sunglasses: Succeeded %s"
      fail:
        head: ":scream: Failed %s"
